<% include ./partials/header %>

<div class="container" id="login-form">
    <div class="row">
        <div class="col-lg-12">
            <div id="content">

                <h1 style="color:black;">Login!</h1>
                <form action="/login" method="POST">
                    <input class="form-control" type="text" name="username" placeholder="username">
                    <input class="form-control" type="password" name="password" placeholder="password">
                    <input class="btn btn-primary btn-block" type="submit" value="Login!">
                </form>

            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>