<% include ./partials/header %>

    <div class="container" id="login-form">
        <div class="row">
            <div class="col-lg-12">
                <div id="content">

                    <h1 style="color:black;">Sign Up!</h1>
                    <form action="/register" method="POST">
                        <input class="form-control" type="text" name="username" placeholder="username">
                        <input class="form-control" type="password" name="password" placeholder="password">
                        <button class="btn btn-primary btn-block">Sign Up</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

<% include ./partials/footer %>